@tailwind base;
@tailwind components;
@tailwind utilities;

.web-color{
    background-color:#376d72;
}
/* Footer font */
.fontstyle{
    color:rgb(255 255 255 / 76%);
    font-weight:400;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
}
.fontstyle1{
    font-weight:500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.font-family{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Loader for car result */
.loader-container {
  width: 50%;
  height: 22px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

.loader-bar {
  width: 0%;
  height: 100%;
  background-color: #cd7e5c;
  animation: loading 2s;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

